# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

*.mo
*.pot

*.log
local_settings.py
db.sqlite3

instance/
.webassets-cache

.scrapy

docs/_build/

target/

# Jupyter Notebook
.ipynb_checkpoints

profile_default/
ipython_config.py


.python-version



*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/


.idea/workspace.xml
file/
migrations/__pycache__/
migrations/versions/__pycache__/
myweb/__pycache__/
neural/__pycache__/
neuralTest/
venv/Lib/site-packages/MySQLdb/__pycache__/
venv/Lib/site-packages/MySQLdb/constants/__pycache__/
venv/Lib/site-packages/PIL/__pycache__/
venv/Lib/site-packages/__pycache__/
venv/Lib/site-packages/absl/__pycache__/
venv/Lib/site-packages/absl/flags/__pycache__/
venv/Lib/site-packages/absl/logging/__pycache__/
venv/Lib/site-packages/absl/testing/__pycache__/
venv/Lib/site-packages/absl/third_party/__pycache__/
venv/Lib/site-packages/absl/third_party/unittest3_backport/__pycache__/
venv/Lib/site-packages/alembic/__pycache__/
venv/Lib/site-packages/alembic/autogenerate/__pycache__/
venv/Lib/site-packages/alembic/ddl/__pycache__/
venv/Lib/site-packages/alembic/operations/__pycache__/
venv/Lib/site-packages/alembic/runtime/__pycache__/
venv/Lib/site-packages/alembic/script/__pycache__/
venv/Lib/site-packages/alembic/templates/generic/__pycache__/
venv/Lib/site-packages/alembic/templates/multidb/__pycache__/
venv/Lib/site-packages/alembic/templates/pylons/__pycache__/
venv/Lib/site-packages/alembic/testing/__pycache__/
venv/Lib/site-packages/alembic/util/__pycache__/
venv/Lib/site-packages/astor/__pycache__/
venv/Lib/site-packages/cffi/__pycache__/
venv/Lib/site-packages/click/__pycache__/
venv/Lib/site-packages/dateutil/__pycache__/
venv/Lib/site-packages/dateutil/parser/__pycache__/
venv/Lib/site-packages/dateutil/tz/__pycache__/
venv/Lib/site-packages/dateutil/zoneinfo/__pycache__/
venv/Lib/site-packages/dominate/__pycache__/
venv/Lib/site-packages/flask/__pycache__/
venv/Lib/site-packages/flask/json/__pycache__/
venv/Lib/site-packages/flask_migrate/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask-multidb/__pycache__/
venv/Lib/site-packages/flask_migrate/templates/flask/__pycache__/
venv/Lib/site-packages/flask_mysqldb/__pycache__/
venv/Lib/site-packages/flask_script/__pycache__/
venv/Lib/site-packages/flask_sqlalchemy/__pycache__/
venv/Lib/site-packages/flask_wtf/__pycache__/
venv/Lib/site-packages/flask_wtf/recaptcha/__pycache__/
venv/Lib/site-packages/gast/__pycache__/
venv/Lib/site-packages/gevent/__pycache__/
venv/Lib/site-packages/gevent/_ffi/__pycache__/
venv/Lib/site-packages/gevent/libev/__pycache__/
venv/Lib/site-packages/gevent/libuv/__pycache__/
venv/Lib/site-packages/gevent/resolver/__pycache__/
venv/Lib/site-packages/gevent/testing/__pycache__/
venv/Lib/site-packages/gevent/testing/coveragesite/__pycache__/
venv/Lib/site-packages/gevent/tests/__pycache__/
venv/Lib/site-packages/gevent/tests/monkey_package/__pycache__/
venv/Lib/site-packages/google/protobuf/__pycache__/
venv/Lib/site-packages/google/protobuf/compiler/__pycache__/
venv/Lib/site-packages/google/protobuf/internal/__pycache__/
venv/Lib/site-packages/google/protobuf/internal/import_test_package/__pycache__/
venv/Lib/site-packages/google/protobuf/pyext/__pycache__/
venv/Lib/site-packages/google/protobuf/util/__pycache__/
venv/Lib/site-packages/grpc/__pycache__/
venv/Lib/site-packages/grpc/_cython/__pycache__/
venv/Lib/site-packages/grpc/_cython/_cygrpc/__pycache__/
venv/Lib/site-packages/grpc/beta/__pycache__/
venv/Lib/sit
e-packages/grpc/experimental/__pycache__/
venv/Lib/site-packages/grpc/framework/__pycache__/
venv/Lib/site-packages/grpc/framework/common/__pycache__/
venv/Lib/site-packages/grpc/framework/foundation/__pycache__/
venv/Lib/site-packages/grpc/framework/interfaces/__pycache__/
venv/Lib/site-packages/grpc/framework/interfaces/base/__pycache__/
venv/Lib/site-packages/grpc/framework/interfaces/face/__pycache__/
venv/Lib/site-packages/h5py/__pycache__/
venv/Lib/site-packages/h5py/_hl/__pycache__/
venv/Lib/site-packages/h5py/tests/__pycache__/
venv/Lib/site-packages/h5py/tests/test_vds/__pycache__/
venv/Lib/site-packages/itsdangerous/__pycache__/
venv/Lib/site-packages/jinja2/__pycache__/
venv/Lib/site-packages/keras_applications/__pycache__/
venv/Lib/site-packages/keras_preprocessing/__pycache__/
venv/Lib/site-packages/keras_preprocessing/image/__pycache__/
venv/Lib/site-packages/mako/__pycache__/
venv/Lib/site-packages/mako/ext/__pycache__/
venv/Lib/site-packages/markdown/__pycache__/
venv/Lib/site-packages/markdown/extensions/__pycache__/
venv/Lib/site-packages/markupsafe/__pycache__/
venv/Lib/site-packages/numpy/__pycache__/
venv/Lib/site-packages/numpy/compat/__pycache__/
venv/Lib/site-packages/numpy/compat/tests/__pycache__/
venv/Lib/site-packages/numpy/core/__pycache__/
venv/Lib/site-packages/numpy/core/tests/__pycache__/
venv/Lib/site-packages/numpy/distutils/__pycache__/
venv/Lib/site-packages/numpy/distutils/command/__pycache__/
venv/Lib/site-packages/numpy/distutils/fcompiler/__pycache__/
venv/Lib/site-packages/numpy/distutils/tests/__pycache__/
venv/Lib/site-packages/numpy/doc/__pycache__/
venv/Lib/site-packages/numpy/f2py/__pycache__/
venv/Lib/site-packages/numpy/f2py/tests/__pycache__/
venv/Lib/site-packages/numpy/fft/__pycache__/
venv/Lib/site-packages/numpy/fft/tests/__pycache__/
venv/Lib/site-packages/numpy/lib/__pycache__/
venv/Lib/site-packages/numpy/lib/tests/__pycache__/
venv/Lib/site-packages/numpy/linalg/__pycache__/
venv/Lib/site-packages/numpy/linalg/tests/__pycache__/
venv/Lib/site-packages/numpy/ma/__pycache__/
venv/Lib/site-packages/numpy/ma/tests/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/__pycache__/
venv/Lib/site-packages/numpy/matrixlib/tests/__pycache__/
venv/Lib/site-packages/numpy/polynomial/__pycache__/
venv/Lib/site-packages/numpy/polynomial/tests/__pycache__/
venv/Lib/site-packages/numpy/random/__pycache__/
venv/Lib/site-packages/numpy/random/tests/__pycache__/
venv/Lib/site-packages/numpy/random/tests/data/__pycache__/
venv/Lib/site-packages/numpy/testing/__pycache__/
venv/Lib/site-packages/numpy/testing/_private/__pycache__/
venv/Lib/site-packages/numpy/testing/tests/__pycache__/
venv/Lib/site-packages/numpy/tests/__pycache__/
venv/Lib/site-packages/pasta/__pycache__/
venv/Lib/site-packages/pasta/augment/__pycache__/
venv/Lib/site-packages/pasta/base/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/cli/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/commands/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/models/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/operations/__pycache__/
v
env/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/req/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/utils/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_internal/vcs/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/cachecontrol/caches/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/certifi/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/chardet/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/colorama/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/distlib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/_trie/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/idna/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/lockfile/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/msgpack/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/packaging/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pep517/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pkg_resources/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/progress/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/pytoml/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/requests/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/contrib/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/packages/ssl_match_hostname/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/urllib3/util/__pycache__/
venv/Lib/site-packages/pip-19.0.3-py3.7.egg/pip/_vendor/webencodings/__pycache__/
venv/Lib/site-packages/pycparser/__pycache__/
venv/Lib/site-packages/pycparser/ply/__pycache__/
venv/Lib/site-packages/pymysql/__pycache__/
venv/Lib/site-packages/pymysql/constants/__pycache__/
venv/Lib/site-packages/sqlalchemy/__pycache__/
venv/Lib/site-packages/sqlalchemy/connectors/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/mysql/__pycache__/
venv/Lib/site-packages/sqlalchemy/dialects/postgresql/__pycache__/
venv/Lib/site-packages/sqlalchemy/engine/__pycache__/
venv/Lib/site-packages/sqlalchemy/event/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/__pycache__/
venv/Lib/site-packages/sqlalchemy/ext/declarative/__pycache__/
venv/Lib/site-packages/sqlalchemy/orm/__pycache__/
venv/Lib/site-packages/sqlalchemy/pool/__pycache__/
venv/Lib/site-packages/sqlalchemy/sql/__pycache__/
venv/Lib/site-packages/sqlalchemy/util/__pycache__/
venv/Lib/site-packages/tensorboard/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/bleach/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html
5lib/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/filters/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/serializer/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/treeadapters/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/treebuilders/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/treewalkers/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/html5lib/trie/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/apis/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/config/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/sources/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/sources/storage_path/__pycache__/
venv/Lib/site-packages/tensorboard/_vendor/tensorflow_serving/util/__pycache__/
venv/Lib/site-packages/tensorboard/backend/__pycache__/
venv/Lib/site-packages/tensorboard/backend/event_processing/__pycache__/
venv/Lib/site-packages/tensorboard/compat/__pycache__/
venv/Lib/site-packages/tensorboard/compat/proto/__pycache__/
venv/Lib/site-packages/tensorboard/compat/tensorflow_stub/__pycache__/
venv/Lib/site-packages/tensorboard/compat/tensorflow_stub/compat/__pycache__/
venv/Lib/site-packages/tensorboard/compat/tensorflow_stub/compat/v1/__pycache__/
venv/Lib/site-packages/tensorboard/compat/tensorflow_stub/io/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/audio/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/beholder/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/core/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/custom_scalar/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/debugger/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/distribution/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/graph/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/histogram/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/hparams/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/image/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/interactive_inference/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/interactive_inference/utils/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/mesh/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/pr_curve/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/profile/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/projector/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/scalar/__pycache__/
venv/Lib/site-packages/tensorboard/plugins/text/__pycache__/
venv/Lib/site-packages/tensorboard/summary/__pycache__/
venv/Lib/site-packages/tensorboard/summary/_tf/__pycache__/
venv/Lib/site-packages/tensorboard/summary/_tf/summary/__pycache__/
venv/Lib/site-packages/tensorboard/summary/writer/__pycache__/
venv/Lib/site-packages/tensorboard/util/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/estimator/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estima
tor/_api/v1/estimator/export/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/estimator/inputs/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/estimator/tpu/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v1/estimator/tpu/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v2/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v2/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v2/estimator/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v2/estimator/export/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/_api/v2/estimator/inputs/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/contrib/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/contrib/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/contrib/estimator/python/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/contrib/estimator/python/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/export/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/inputs/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/tpu/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v1/estimator/tpu/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v2/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v2/estimator/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v2/estimator/experimental/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v2/estimator/export/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/api/_v2/estimator/inputs/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/linear_optimizer/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/linear_optimizer/python/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/linear_optimizer/python/utils/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/timeseries/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/canned/v1/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/export/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/head/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/hooks/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/inputs/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/inputs/queues/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/tools/__pycache__/
venv/Lib/site-packages/tensorflow_estimator/python/estimator/tpu/__pycache__/
venv/Lib/site-packages/visitor/__pycache__/
Would
remove venv/Lib/site-packages/werkzeug/__pycache__/
venv/Lib/site-packages/werkzeug/contrib/__pycache__/
venv/Lib/site-packages/werkzeug/debug/__pycache__/
venv/Lib/site-packages/werkzeug/middleware/__pycache__/
venv/Lib/site-packages/werkzeug/wrappers/__pycache__/
venv/Lib/site-packages/wheel/__pycache__/
venv/Lib/site-packages/wheel/cli/__pycache__/
venv/Lib/site-packages/wrapt/__pycache__/
venv/Lib/site-packages/wtforms/__pycache__/
venv/Lib/site-packages/wtforms/csrf/__pycache__/
venv/Lib/site-packages/wtforms/ext/__pycache__/
venv/Lib/site-packages/wtforms/ext/appengine/__pycache__/
venv/Lib/site-packages/wtforms/ext/csrf/__pycache__/
venv/Lib/site-packages/wtforms/ext/dateutil/__pycache__/
venv/Lib/site-packages/wtforms/ext/django/__pycache__/
venv/Lib/site-packages/wtforms/ext/django/templatetags/__pycache__/
venv/Lib/site-packages/wtforms/ext/i18n/__pycache__/
venv/Lib/site-packages/wtforms/ext/sqlalchemy/__pycache__/
venv/Lib/site-packages/wtforms/fields/__pycache__/
venv/Lib/site-packages/wtforms/widgets/__pycache__/
/flask学习笔记
/test.sh
