<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href={{ url_for('static',filename='css/layui.css') }}  media="all">
</head>
<body>
{#<table>#}
{#    {% for d in data %}#}
{#        <tr>#}
{#            <td width="80%">{{ d.configs }}</td>#}
{#            <td>{{ d.path|my_filter }}</td>#}
{#        </tr>#}
{#    {% endfor %}#}
{##}
{#</table>#}
{#<table class="layui-hide" id="test"></table>#}

<table lay-filter="demo">
    <thead>
    <tr>
        <th lay-data="{field:'username', width:100, sort:true}">数据集</th>
        <th lay-data="{field:'experience'}">配置</th>
        <th lay-data="{field:'del',width:80}">是否删除</th>
        <th lay-data="{field:'sign',width:120}">是否选定</th>
    </tr>
    </thead>
    <tbody>
    {% for d in data %}
        {% for c in d.configs %}

            <tr>
                <td>{{ d.dataSets_id }}</td>
                <td>{{ c.config }}</td>
                <td><a class="layui-btn layui-btn-danger layui-btn-xs" href="/del?id={{ c.id }}&dsOrms={{ d.dsOrms }}">删除</a></td>
                <td><input type="checkbox" name="lock" value={{ "{{ d.id }}" }} title="选定" lay-filter="lockDemo"
                        {{ "{{ d.id == 10006 ? 'checked' : '' }}" }}></td>

            </tr>


        {% endfor %}
    {% endfor %}
    </tbody>
</table>


<script type="text/html" id="checkboxTpl">
    <input type="checkbox" name="lock" value={{ "{{ d.id }}" }} title="选定" lay-filter="lockDemo"
            {{ "{{ d.id == 10006 ? 'checked' : '' }}" }}>
</script>
</body>
<script src="{{ url_for('static',filename='layui.js') }}" charset="utf-8"></script>


<script>
    layui.use(['table', 'layer', 'element'], function () {
        var table = layui.table;

        table.init('demo', {
            height: 315 //设置高度
            , limit: 10
        });
    });
</script>
</html>